
.game-row-wrap {
    font-family: "Noto Sans KR";
    background-color: #2b2c34;
    padding: 10px;
    background-color: #16171d;
}

.game-row-wrap .game-row {
    width: 100%; 
    height: 100%; 
    display: flex;
    border-radius: 10px;
    overflow: hidden; /* border-radius 적용 시 자식 요소가 둥글게 보이도록 설정 */
    margin: 10px 0 10px 0;
    border: 1px solid #444444; /* 표의 구분선을 추가 */
}

.game-row-wrap .game-row:hover {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(233, 71, 32, 0.15), 0 10px 10px rgba(233, 71, 32, 0.1);
}

.game-row-wrap .team-info {
    flex: 0.5; 
    width:100%; 
    display: flex; 
    flex-direction: column;
}

.game-row-wrap .team-info .tr{
    flex: 0.5;
    display: flex;
    border-bottom: 1px solid #444444;
}

.game-row-wrap .team-info .tr img{
    width: 53px;
    height: 53px;
    padding: 5px;
    background-color: #444444; /* 이미지 배경색을 어둡게 변경 */
}

.game-row-wrap .team-info .tr .td{
    flex:0.4; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #444444;
    text-align: center;
    border: 1px solid #555555;
}

.game-row-wrap .team-info .tr.th.odds {
    font-size: 0.8em;
}

.game-row-wrap .team-info .tr .td.highlight {
    color: red !important;
    font-size:1.1em;
}

.game-row-wrap .game-row .team-info .tr.th,
.game-row-wrap .game-row .score .tr.th
{
    height: 33px;
}



.game-row-wrap .team-info .tr,
.game-row-wrap .score .tr
{
    height: 66px;
}

.game-row-wrap .team-info .tr.th .td{
    flex:1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #2b2c34; /* 기존의 #F1F1F1 대신 어두운 색상으로 변경 */
    text-align: center;
    border: 1px solid #555555;
}

.game-row-wrap .score .tr .td{
    background-color: #444444; /* 기존의 #fff 대신 어두운 색상으로 변경 */
    font-weight: bold;
    font-size:0.7em;
    flex:1;
    border: 1px solid #555555; /* 테두리 추가 */
}
.game-row-wrap .game-row .score .tr.th.ready {
    font-size: 0.7em;
}

.game-row-wrap .score .tr.th .td{
    background-color: #2b2c34; /* 기존의 #f1f1f1 대신 어두운 색상으로 변경 */
    border-left: 1px solid #555555; /* 기존의 #DDDDDD 대신 어두운 색상으로 변경 */
    border-top: 1px solid #555555; /* 테두리 추가 */
    font-weight: bolder;
    font-size:0.8em;
}

.game-row-wrap .game-row .score .tr.th,
.game-row-wrap .game-row .score .tr {
    background-color:#2b2c34; /* 기존의 #F1F1F1 대신 어두운 색상으로 변경 */
    border-bottom: 1px solid #555555; /* 구분선을 추가 */
}

.game-row-wrap .game-row .score {
    flex: 0.5; 
    width:100%; 
    display: flex; 
    flex-direction: column;
}

.game-row-wrap .game-row .score .tr {
    width:100%; 
    display:flex; 
    align-items: center; 
    text-align: center;
}

.game-row-wrap .game-row .score .tr.th,
.game-row-wrap .game-row .score .tr {
    background-color:#2b2c34; /* 기존의 #F1F1F1 대신 어두운 색상으로 변경 */
    border-bottom: 1px solid #555555; /* 구분선을 추가 */
}

.game-row-wrap .game-row .score .td {
    box-sizing: border-box;
    height: 100%; 
    border-left:1px solid #555555; 
    border-bottom:1px solid #555555;
    border-top: 1px solid #555555; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.game-row-wrap .game-row .score .tr.th .td.current {
    background-color: rgba(233, 71, 32, 0.4);
}

.game-row-wrap .game-row .score .tr .td.current {
    background-color: rgba(233, 71, 32, 0.3);
}

.game-row-wrap .game-row .team-info .tr.th .td{
    font-size: 0.7em;
}

.game-row-wrap .game-row .team-info .tr.th .td,
.game-row-wrap .game-row .score .tr.th .td
{
    color: rgb(233, 71, 32);
}

.game-row-wrap .game-row .team-info .tr .td,
.game-row-wrap .game-row .score .tr .td
{
    color: #fff;
}

.game-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #16171d;
    border-bottom: 1px solid #444;
}

.game-tab-link {
    background-color: #2b2c34;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    flex: 1; /* Ensure tabs equally share the space */
    text-align: center;
}

.game-tab-link.active {
    background-color: rgb(233, 71, 32);;
}

.game-tab-link:hover {
    background-color: #444;
}

.game-tab-link:disabled {
    background-color: #555;
    color: #808080;
    cursor: not-allowed;
}

.game-tab-content {
    display: none;
    padding: 20px;
    background-color: #2b2c34;
    border-top: 1px solid #444;
    color: #d6d5d5
}

.game-tab-content.active {
    display: block;
}

.game-tab-content.active.resize {
    display: none;
}

.header-info, .team-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header-info .team-info, .header-info .match-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info .team-info span, .header-info .match-info span {
    margin-right: 10px;
}

.header-info .team-logo {
    display: flex;
    align-items: center;
}

.header-info .team-logo img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.team-stats .first-events span {
    margin-right: 10px;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 1.3em;
}

.score-detail-highlight {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

.team-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.positions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    color: #dd7a61;
}

.position {
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Define general styles for the player row */
.player {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ccc; /* 기본 텍스트 색상 */
    position: relative; /* 상대 위치 설정 */
}

/* Special styles for the MVP player */
.player.mvp {
    background-color: #3c3c3c; /* 테마에 맞는 어두운 배경색 */
    color: #ffcc00; /* 황금색 텍스트 */
    font-weight: bold; /* 볼드 텍스트 */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8); /* 황금색 그림자 */
    border-radius: 5px; /* 둥근 모서리 */
    transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 */
}

/* MVP badge absolute positioning */
.player.mvp::before {
    content: "MVP";
    position: absolute;
    top: -10px; /* 플레이어 카드 위쪽에 배치 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffcc00; /* 황금색 배경 */
    color: #3c3c3c; /* 배경색과 대조되는 텍스트 색상 */
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.8); /* 약간의 그림자 */
}

.player-name, .player-kda, .player-selecting {
    flex: 1;
    text-align: center;
}

.player-champion img {
    width: 30px;
    height: 30px;
}

.bans {
    width: 100%;
    margin-top: 20px;
}

.bans-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 70px;
    color:rgb(233, 71, 32)
}

.ban-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ban-list img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.firstBtn {
    border: 1px solid #9c9c9c;
    padding: 3px 5px;
}

.firstBtn.on {
    background-color: #E94720;
    color: #fff;
}

.errorRow {
    background-color: #FF9728;
    color: #721c24;
    border: 1px solid #FF9728;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}



/* Media Query for responsiveness */
@media (max-width: 1100px) {
    .game-tabs, .game-tab-contents {
        display: none;
    }
}

@media (max-width: 768px) {

    .game-row-wrap .game-row {
        flex-direction: column;
    }

    .game-row-wrap .game-row .field-wrap {
        display: none;
    }

    .game-row-wrap .game-row .team-info {
        flex:1;
    }

    .game-row-wrap .game-row .score {
        flex:1;
    }

    .game-tab-content {
        display: none;
    }

    .game-tabs {
        display: none;
    }

}