/* 전체 스크롤바 스타일링 */
::-webkit-scrollbar {
    width: 16px; /* 스크롤바 너비 설정 */
}

::-webkit-scrollbar-track {
    background: #4A403A; /* 옅은 어두운 주황색 배경 */
    border-radius: 10px; /* 트랙 모서리 반경 */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 트랙 내부 그림자 */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #E94720, #FF6A3D); /* 스크롤바 그라데이션 색상 */
    border-radius: 10px; /* 스크롤바 모서리 반경 */
    border: 3px solid #4A403A; /* 스크롤바 내부 여백 색상 변경 */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); /* 스크롤바 내부 그림자 */
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out; /* 애니메이션 효과 추가 */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #FF6A3D, #E94720); /* 호버 시 그라데이션 색상 변경 */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 106, 61, 0.5); /* 호버 시 확대 효과 */
}

.active { font-weight: bold; }
.tab-content { display: none; }
.tab-content.active { display: block; }
.current { font-weight: bold; color: red; }

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #16171d;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, rgba(27, 28, 35, 0.8), rgba(37, 38, 44, 0.9));
    color: white;
    width: 100%;
    z-index: 1000;
    max-width: 1045px;
    margin: 0 auto;
    margin-top: 20px;;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 10px 20px rgba(233, 71, 32, 0.1), 0 6px 6px rgba(233, 71, 32, 0.05);
    background: linear-gradient(135deg, rgba(233, 71, 32, 0.1), rgba(233, 71, 32, 0.05));
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    margin: 0 auto;
}

.logo-container .logo {
    width: 120px;
    height: auto;
    filter: brightness(0) invert(1);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: #202124;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #2a2b2e;
    box-shadow: 0 4px 6px rgba(233, 71, 32, 0.2);
}

.tabs a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.tabs a:hover {
    color: #E94720;
}

.tabs a.active {
    border-bottom: 2px solid #E94720;
    color: #E94720;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 서브탭 */
.match-history .tab-menu,
.recent-games .tab-menu,
.odds-history .tab-menu,
.lineup-history .tab-menu,
.record-history .tab-menu
 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recent-games .tab-menu a,
.match-history .tab-menu a,
.odds-history .tab-menu a,
.lineup-history .tab-menu a,
.record-history .tab-menu a
{
    width: 100%;
    text-align: center;
}


.tab-link-sub,
.tab-link-odds,
.tab-link-lineup,
.tab-link-record
{
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tab-link-sub.active,
.tab-link-odds.active,
.tab-link-lineup.active,
.tab-link-record.active

{
    background-color: #E94720;
    color: #fff;
    border-color: #E94720;
}

.tab-sub-content,
.tab-odds-content,
.tab-lineup-content,
.tab-record-content
 {
    display: none;
}

.tab-sub-content.active,
.tab-odds-content.active,
.tab-lineup-content.active,
.tab-record-content.active
 {
    display: block;
}

.game-summary {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(233, 71, 32, 0.2);
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.team {
    text-align: center;
}

.team img {
    width: 50px;
    height: 50px;
}

.score {
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E94720;
}

.score h1 {
    margin: 0 20px;
}

.scoreboard {
    width: 100%;
    border-collapse: collapse;
}

.scoreboard th, .scoreboard td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    background: #2a2b2e;
    color: #fff;
}

.match-history,
.recent-games,
.player-stats,
.odds-history,
.lineup-history,
.record-history
 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #2a2b2e;
    box-shadow: 0 4px 6px rgba(233, 71, 32, 0.2);
}

.match-history h3,
.recent-games h3,
.player-stats h3,
.odds-history h3
.lineup-history h3,
.record-history h3
{
    margin-top: 0;
}

.match-history table,
.recent-games table,
.player-stats table,
.odds-history table,
.lineup-history table,
.record-history table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.lineup-history table tr th,
.lineup-history table tr td,
.record-history table tr th,
.record-history table tr td 
{
    border: 1px solid #333;
    padding: 10px;
    text-align: center !important;
    background: #202124;
    color: #fff;
}

.match-history th,
.recent-games th,
.player-stats th,
.odds-history th,
.match-history td,
.recent-games td,
.player-stats td,
.odds-history td
{
    border: 1px solid #333;
    padding: 10px;
    text-align: center !important;
    background: #202124;
    color: #fff;
}

.match-history th,
.recent-games th,
.player-stats th ,
.odds-history th,
.lineup-history th,
.record-history th
{
    background: #333;
}

.match-history tr:nth-child(even),
.recent-games tr:nth-child(even),
.player-stats tr:nth-child(even),
.odds-history tr:nth-child(even),
.lineup-history tr:nth-child(even),
.record-history tr:nth-child(even)
{
    background: #242526;
}

.match-history tr:hover,
.recent-games tr:hover,
.player-stats tr:hover,
.odds-history tr:hover,
.lineup-history tr:hover,
.record-history tr:hover
{
    background: #2c2d30;
}

.match-history td,
.recent-games td,
.player-stats td,
.odds-history td,
.lineup-history td,
.record-history td
{
    position: relative;
    transition: background 0.3s;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .header-container, .container {
        width: 90%;
        padding: 10px;
    }

    .tabs {
        flex-direction: column;
    }

    .tabs a {
        margin-bottom: 10px;
    }

    .game-header {
        flex-direction: column;
    }

    .score {
        flex-direction: column;
        margin: 10px 0;
    }

    .score h1 {
        margin: 10px 0;
    }

    .scoreboard th, .scoreboard td {
        padding: 5px;
    }

    .match-history th, 
    .recent-games th,
    .player-stats th, 
    .odds-history th, 
    .lineup-history th, 
    .record-history th, 
    .match-history td, 
    .recent-games td, 
    .player-stats td, 
    .odds-history td,
    .lineup-history td,
    .record-history td
    {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .header-container, .container {
        width: 100%;
        padding: 5px;
    }

    .tabs a {
        padding: 5px 10px;
    }

    .game-header {
        flex-direction: column;
    }

    .team img {
        width: 40px;
        height: 40px;
    }

    .score {
        font-size: 20px;
    }

    .score h1 {
        margin: 5px 0;
    }

    .scoreboard th, .scoreboard td {
        padding: 3px;
    }

    .match-history th,
    .recent-games th, 
    .player-stats th, 
    .odds-history th,
    .lineup-history th,
    .record-history th,
    .match-history td, 
    .recent-games td, 
    .player-stats td, 
    .odds-history td,
    .lineup-history td,
    .record-history td
    {
        padding: 3px;
    }
}
